

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");

body { background: url(../images/extra_clean_paper.png)repeat;font-weight: 400; color: #777777; font-family: 'Open Sans', sans-serif; }

.navbar-nav:active { background: transparent;}
h2 a:link, h2 a:visited {
color: #19763e;
text-decoration: none;
}

.primary-navbar { border-top: #53bf6b 4px solid; }
.navbar-brand, .navbar-brand:hover { border-top: #53bf6b 4px solid; background: #53bf6b !important; color: white !important; z-index: 9; text-transform: uppercase; }

#main-content { padding-top: 64px; }
.title { padding: .5em; text-align: center; background: #666; color: white; text-transform: uppercase;}
#primary-nav::before { height: 0px; z-index:  }
.box { border: 2px #c0c0c0; background: white; }

.left-sidebar {  height: 300px; }
.workbench { 
	min-height: 600px;
	margin-top: 20px;
}
.button, input[type=submit], .search { 
	padding: 12px 20px 12px 20px;
font-size: 11px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.07rem;
color: #c0c0c0 !important;
position: absolute;
bottom: 20px;
right: 20px;
display: block;
overflow: hidden;
width: auto;
background-color: white;
height: 20px;
-moz-box-shadow: inset 0 0 0 4px #dedede;
-webkit-box-shadow: inset 0 0 0 4px #dedede;
box-shadow: inset 0 0 0 4px #dedede;
/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKBAMAAACZNRnKAAAABGdBT…oiNxm57IazJy4L5FaWqT0TXsYAJAVSmgn4rw70dB7gq6f6AGpgFEiVdbFYAAAAAElFTkSuQmCC);*/
background-repeat: no-repeat;
background-position: 112px -34px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
line-height: 0px;
}


a.button:hover, input[type=submit]:hover input#file:hover, input#file:focus
a.button:focus, input[type=submit]:focus ,input#file .search {
	color: #FFF !important;
	padding: 12px 50px 12px 20px;
	background-color: #53bf6b;
	background-position: 112px 18px;
	text-decoration: none !important;
	-moz-box-shadow: inset 0 0 0 0 #CCC;
-webkit-box-shadow: inset 0 0 0 0 #CCC;
box-shadow: inset 0 0 0 0 #CCC;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Links  */
a:link, a:visited, input[type=submit], input#file {
color: #3fa757;
}


a.button:link, input[type=submit], input#file .search {
text-decoration: none;
}

.add-field, input[type=submit], .upload {
position: initial;
line-height: 0px;
}

.upload { margin-bottom: 20px; display: block;}
/* Form List */

ul.forms-list {
	margin: 1.5em; 
}
ul.forms-list li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: .2em 0 .2em .5em;
	font-weight: bold;
	color: #666; 
}
ul.forms-list li:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	color: #000; 
}

/* footer */
footer h3 {
	color: white;
}
footer  {
	width: 100%;
	padding-top: 6px;
	margin-top: 40px;
	background-color: rgba(81,81,81,0.7);
}

footer .description p {
	font-size: 12px;
	color: #CCC;
	line-height: 20px;
	margin-bottom: 10px;
}

/* team */

ul.team img {
 width: 50px;
 height: autho;
 margin: 0 .5em .5em 0;
}

ul.team li {
	text-transform: capitalize;
	display: inline;
	clear: none;
	padding: 5px 5px 5px 5px;
	margin: 0 0 10px 10px;
}

ul.team li a:hover {
	color: #fff !important;
}

ul.team li a {
	color: #fff !important;
}

div#upload-wrap {
	display: none;
}

.search {
position: absolute;
top: 12px;
left: 475px;
}

.form-control:focus {
border-color: #36BA55;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px #5EF281,0 0 8px #24BF48);
box-shadow: inset 0 1px 1px #5EF281,0 0 8px #24BF48;
}




@media (min-width: 750px) {
.workbench { 
	margin-top: 0px;
}
.left-sidebar { height: 600px; }
}