<div class="workbench box">
    <div class="title">
        <h2>Workbench</h2>
    </div>
    <div id ="create" class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>{{title}}</h3>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-7 col-md-9 col-lg-9">
                <form class="col-sm-3 col-lg-9" action="upload_file.php" method="post"
                    enctype="multipart/form-data">
                        <p>Submit a hand written entry.</p>

                    <div class="row col-lg-9">
                        <div class="button upload button col-md-2 col-lg-3" onclick="document.getElementById('file').click();"  for="file">Upload:</div>
                    </div>
                        <div id="upload-wrap">
                            <input type="file" name="file" id="file"><br>
                        </div>
                        <input class="button col-md-2 col-lg-3" type="submit" name="submit" value="Submit">
                </form>
            </div>	
            <div class="col-md-2 col-md-offset-5">
                <!-- excel spreadsheet -->
            </div>
        </div>
        <a class="button" href="#">Save</a>
    </div>
</div>
