	<div class="workbench box">
		<div class="title">
			<h2>Workbench</h2>
		</div>
		<div id ="create" class="container">
			<h2>Create new form</h2>
			<div class="row col-sm-7 col-md-9 col-lg-9 ">
				<div class="col-sm-3 col-lg-9">
                    <!-- added fields -->
                    <div class="form-title">
                    	<label>Form Title</label></br>
                    	<input placeholder=" form title" type="text" name="field">
                    </div>
                    <h3>Form Fields</h3>
                    <div class="fields">
                    </div>
                    <a class="button col-xs-12 col-md-2 col-lg-3 add-field" href="#">Add field</a>
					<a class="button" id="save-form" href="#">Save</a>
                	
                </div>	
			</div>
			</div>
		</div>
    </div><!-- .workbench end-->


