<div id="right" class=" col-xs-7 col-sm-8 col-md-9 col-lg-9">
	<div class="workbench box">
		<div class="title">
			<h2>Workbench</h2>
		</div>
		<div id ="create" class="container">
			<div class="row">
				<div class="col-md-2 col-md-offset-5">
					<h2>Create Form</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-5">
					<a class="button add-field" href="#"></a>a>
				</div>	
			</div>
				<a class="button" href="#">Save</a>
		</div>
	</div><!-- .workbench end-->
</div>
